@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
body{
    background-color: rgba(0, 0, 0, 0.1);
    color: #3F3D56;
    font-family: 'flamenco';
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    background-color: azure;
    padding-bottom: 0%;
}
figure{
    margin: 5% 0 0 0;
    width: 25%;
    height: 5%;
}
figure img{
    width: 100%;
    margin: 0;
}
.nav-menu{
    width: 75%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.nav-menu li{
    margin-right: 5%;
    margin-top: 12%;
}
.nav-menu a{
    text-decoration: none;
    color: #3F3D56;
    position: relative;
}
a:visited{
    color: #3F3D56;
}
a::after{
    content: "";
    position: absolute;
    background-color: #3F3D56;
    width: 100%;
    height: 3px;
    top: 30px;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}
a:hover::after{
    transform: scaleX(1);
}
.main-nosotros{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
}
.nosotros h2{
    text-align: center;
}
.nosotros p{
    text-align: justify;
    margin: auto 5%;
}
.imagen{
    width: 100%;
    margin: 5% auto;
}
.imagen img{
   width: 100%;
}
.habilidades{
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-figuras{
    display: flex;
    width: 100%;
}
.container-figuras figure{
    width: 20%;
    margin: auto;
}
.container-ventajas{
    width: 100%;
    margin: 20% auto;
}
.ventajas-intro{
    margin: 7%;
}
.ventajas-intro h2{
    text-align: center;
}
.ventajas-intro p{
    text-align: justify;
}
.ventaja-iconos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ventaja-iconos figure{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}
.ventaja-iconos figure img{
    width: 25%;
}
.ventaja-iconos figure p{
    font-weight: bold;
}
.work .work-step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.work h2{
    text-align: center;
}
.work-step figure{
    width: 100%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work-step figure img{
    width: 25%;
}
.work-step figure p{
    width: 80%;
    text-align: justify;
}
@media (min-width: 426px){
    .navigation{
        height: 8em;
    }
    .navigation img{
        margin: auto;
        width: 15%;
    }
    .nav-menu{
        width: 80%;
        margin: auto;
        height: 10%;
    }
   .nav-menu li{
       margin: 0 5%;
   }
   .nav-menu li a{
       font-size: x-large;
       font-weight: bold;
   }
   .main-nosotros{
       margin-top: 20%;
   }
   .habilidades h2{
       margin-bottom: 10%;
   }
   h2{
       font-size: xx-large;
   }
   p{
       font-size: x-large;
   }
}
@media (min-width: 769px){
    .ventaja-iconos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .ventaja-iconos figure{
        width: 25%;
        object-fit: cover;
    }
    .ventaja-iconos img{
        margin: 0;
    }
    .ventaja-iconos figure p{
        text-align: justify;
        height: 90%;
        margin: 50%;
    }